{% extends 'admin/admin_index.html'  %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style>
        .table-dark td{
            background-color: #0b2e13;
        }
    </style>
</head>

<body>
<form action="/Addsecurity_post" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="" border="1" cellpadding="30" class="table table-dark">
    <tr>
      <td>name</td>
      <td ><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control" required/></td>
    </tr>
    <tr>
      <td>image</td>
      <td><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" class="form-control "required/></td>
    </tr>
    <tr>
      <td>id proof</td>
      <td><label for="fileField2"></label>
      <input type="file" name="fileField2" id="fileField2" class="form-control" required/></td>
    </tr>
    <tr>
      <td>email</td>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/></td>
    </tr>
    <tr>
      <td>pin</td>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" class="form-control"  pattern="[0-9]{6}" required/></td>
    </tr>
    <tr>
      <td>post</td>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" class="form-control" required/></td>
    </tr>
    <tr>
      <td>place</td>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" class="form-control" required/></td>
    </tr>
    <tr>
      <td>phone no</td>
      <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" class="form-control" pattern="[789][0-9]{9}" required/></td>
    </tr>
    <tr>
        <td colspan="2"><div align="center"><input type="submit" name="button" id="button" value="add" /></div></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}