<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="400" border="1" cellpadding="30">
    <tr>
      <td><a href="/AddSecurity">Add Security</a></td>
    </tr>
    <tr>
      <td><a href="/ViewSecurity">View Security</a></td>
    </tr>
    <tr>
      <td><a href="/SendAlert">Send Emergency Alerts</a></td>
    </tr>
      <tr>
         <td><a href="/ViewAlert">View Emergency Alerts</a></td>
      </tr>
    <tr>
      <td><a href="/ViewCmplnt">View Complaint</a></td>
    </tr>
    <tr>
      <td><a href="#">Logout</a></td>
    </tr>
  </table>
</form>
</body>
</html>
