{% extends 'admin/admin_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/Reply_post/{{ id }}">
  <table width="400" border="1" cellpadding="30" class="table table-dark">
    <tr>
      <td>Reply</td>
        <td><label></label>
        <textarea name="textarea" id="textarea" cols="45" rows="5" class="form-control" required></textarea>
      </td>
    </tr>
    <tr>
        <td colspan="2"><div align="center"><input type="submit" name="button" class="btn btn-success" id="button" value="send reply" /></div></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}