{% extends 'admin/admin_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style>
        .table-hover th{
            background-color: #0c4128;
            text-transform: uppercase;
            height: 50px;
        }
    </style>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="400" border="1" cellpadding="30" class="table table-hover">
    <tr>
      <td>s/n</td>
      <td>date</td>
      <td>task</td>
      <td>report</td>
    </tr>
      {% for i in data %}
    <tr>
      <td>{{ forloop.counter }}&nbsp;</td>
      <td>{{ i.assign_date }}</td>
      <td>{{ i.survilance_task }}&nbsp;</td>
      <td><a href="/ViewReport/{{ i.id }}">view report</a></td>
    </tr>
     {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}